{% extends 'nblog1/base.html' %}

{% block meta_title %}Title{% endblock %}
{% block meta_description %}说明{% endblock %}
{% block meta_keywords %}aoerqilengbai blog{% endblock %}

{% block title %}aoerqilengbai{% endblock %}

{% block copyright %}© 2020 aoerqilengbai{% endblock %}
{% block link %}
    <li><a href="https://blog.csdn.net/aoerqileng">csdn地址</a></li>
    <li>
        <a href="QQ:834829341" target="_blank">联系方式:QQ834829341</a>
    </li>
    <li><a href="mailto:834829341@qq.com" target="_blank">我的邮箱</a></li>


{% endblock %}

{% block extrahead %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72333380-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-72333380-3');
    </script>

    <!-- Google Ads -->
    <script data-ad-client="ca-pub-5235456993770661" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}